    html {
        scroll-behavior: smooth;
    }
    .container {
        margin-top: 30px;
    }
    .footer {
        margin-bottom: 50px;
        height: 80px;
        color: #fff;
        text-align: center;
    }
    .botomtx {
        margin-top: 20px;
    }
